/* --- Button --- */

.button {
  border: none;
  border-radius: 4px;
  transition: all 1s;
  font-family: inherit;
  font-size: 14px;
  display: inline-block;
  position: relative;
  @extend .shadow-default;
}

.button:hover {
  filter: brightness(50%);
}

.button:active {
  top: 0.2rem;
}

/* --- Authentication forms --- */

.form-box {
  max-width: 25rem;
  margin: auto;

  .login-form,
  .signup-form {
    .form-item {
      display: block;
      @extend .pt-5;

      .form-label {
        display: inline-block;
        padding-bottom: 0.5rem;
      }

      .form-error {
        display: inline-block;
        font-size: 80%;
        color: rgb(206, 12, 12);
        width: 60%;
        text-align: right;
        transition: 1s;
      }

      .form-input {
        display: block;
        width: 98%;
        padding: 0.6rem;
        transition: 0.2s;
        border: none;
        font-family: inherit;
        border-bottom: 3px solid $primary-color;
        outline: none;
        background-color: whitesmoke;
        padding-right: 0px;
      }

      .form-input:focus {
        background-color: white;
      }
    }
  }
}

/* --- Logo --- */
.app-logo {
  width: 100%;
  height: auto;
}
