/* --- PADDING --- */

@for $i from 1 through 10 {
  .p-#{$i} {
    padding: $i * 0.3rem;
  }

  .pt-#{$i} {
    padding-top: $i * 0.3rem;
  }

  .pb-#{$i} {
    padding-bottom: $i * 0.3rem;
  }

  .pr-#{$i} {
    padding-right: $i * 0.3rem;
  }

  .pl-#{$i} {
    padding-left: $i * 0.3rem;
  }
}

/* --- MARGIN --- */

@for $i from 1 to 10 {
  .m-#{$i} {
    margin: $i * 0.3rem;
  }

  .mt-#{$i} {
    margin-top: $i * 0.3rem;
  }

  .mb-#{$i} {
    margin-bottom: $i * 0.3rem;
  }

  .mr-#{$i} {
    margin-right: $i * 0.3rem;
  }

  .ml-#{$i} {
    margin-left: $i * 0.3rem;
  }
}

/* --- Flexbox --- */
.flex {
  display: flex;
}

.vflex {
  @extend .flex;
  flex-direction: column;
}

.hflex {
  @extend .flex;
  flex-direction: row;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

/* --- Shadows --- */

.shadow-default {
  -webkit-box-shadow: 3px 8px 28px rgba(40, 60, 80, 0.15);
  box-shadow: 3px 8px 28px rgba(40, 60, 80, 0.15);
}
