// Generic
$footer-bg-color: rgb(33, 33, 33);
$footer-text-color: rgb(255, 255, 255);

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $footer-bg-color;
  padding: 0.5rem;

  .title {
    font-size: 2rem;
    color: $footer-text-color;
  }

  .footer-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & > * {
      padding: 0.4rem;
    }

    .footer-image {
      width: 10rem;
      height: auto;
      border-radius: 100%;
      margin: 1.5rem;
    }

    .footer-link {
      color: $footer-text-color;
      font-weight: 800;
      text-decoration: underline;
    }

    .icon {
      color: $footer-text-color;
    }
  }
}
